@model IEnumerable<WebApplication2.Data.Request>
@{
    ViewData["Title"] = "patientdashboard Page";
}
<nav class="bg-white">
    <div class="container-fluid shadow">
        <ul>
            <li>
                <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
            </li>
            <li class="hideonmobile me-2">Welcome <b> Test Testing</b></li>
            <li><a asp-controller="Home" asp-action="patientlogin"><button class="btn hideonmobile me-2"
                        style="border:2px solid #54d4d3; color: #54d4d3;">Logout</button></a></li>
            <li>
                <a asp-controller="Home" asp-action="patientlogin">
                    <button class="btn showonmobile hide me-2"
                        style="border:2px solid #54d4d3;"><i class="fa-solid fa-arrow-right-from-bracket"
                            style="color: #54d4d3;"></i></button></a></li>
            <li><button class="moonbtn backtra me-2"><i class="fa-solid fa-moon  "></i></button></li>
        </ul>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active border-0 text-muted" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                    aria-selected="true"><b>Dashboard</b></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-muted border-0 " id="profile-tab" data-bs-toggle="tab"
                    data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="false"><b>Profile</b></button>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Here I Want To Create New Request For ...
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-info text-white">Me</button>
                <button class="btn btn-white" style="border-color: #54d4d3; color: #54d4d3;">Some One Else</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white">Continue</button>
                <button type="button" class="btn btn-white" style="border-color: #54d4d3; color: #54d4d3;"
                    data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container mt-3 ">
            <h3>Medical History</h3>
            <div class="container hideonmobile bg-white rounded shadow mt-3 p-0">
                <div class="row pt-3 pb-3">
                    <div class="col text-end">
                        <button class="btn btn-white me-3" style="border-color: #54d4d3; color: #54d4d3;"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Create New Request
                        </button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="bg-light h-100">
                            <th scope="col">@Html.DisplayNameFor(model => model.Createddate) <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
                            <th scope="col">Document</th>
                        </tr>
                    </thead>
                    <tbody class="text-muted">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Createddate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td><button class="btn btn-white" style="border-color: #54d4d3; color: #54d4d3;">Document </button></td>
                        </tr>
                        }
                        @* <tr>
                            <td>Feb 05,2023</td>
                            <td>Processing</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Processing</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Processing</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Processing</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Clear</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Closed</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Cancelled By Admin</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Block Request</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Feb 05,2023</td>
                            <td>Cancelled By Admin</td>
                            <td></td>
                        </tr> *@
                    </tbody>
                </table>
            </div>
            <div class="container showonmobile hide rounded shadow mb-3  ">
                <div class="row pt-3 pb-3 bg-white">
                    <div class="col text-end ">
                        <button class="btn btn-white me-3 " data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="border-color: #54d4d3; color: #54d4d3;">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="accordion" style="background-color: #54d4d3;" id="accordionExample">
                    @foreach (var item in Model)
                        {
                        string id = 'a' + item.Requestid.ToString();
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#@id" aria-expanded="false" >
                                    <b>Created Date: </b> @Html.DisplayFor(modelItem => item.Createddate)
                            </button>
                        </h2>
                        <div id="@id" class="accordion-collapse collapse" 
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Provider : @id</p>
                                    <p>Current Status @Html.DisplayFor(modelItem => item.Status)</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        dsfhgvfdsui
        <!-- Button trigger modal -->

    </div>
</div>

<footer class="text-center justify-content-center bg-secondary mt-2 ">
    <div class="">Terms Of Conditions <div class="vr "></div> Privacy Policy</div>
</footer>